<div class="container">
    <div class="start_container">
            <div class="start_btn spin cercle">
                <h1>Start</h1>
            </div>

            <div class="use_container">
                <div class="use_info">
                    <h1>How to use</h1>
                    
                    <p>①　<strong>Start</strong>ボタンをクリックして<span class="color">勉強開始！</span></p>
                    <!-- 投稿ページのスクショ -->
                    <p>②　勉強が終わったら、言語やコメントを添えて投稿しよう！</p>
                    <p>→　例：　言語：Rails 教材：チュートリアル コメント：バリデーションが難しかった。明日復習して完全に理解したい。</p>
                    <p>③　みんなで学習時間を共有して、お互いのモチベーションを高め合おう！</p>
                    <!-- (投稿一覧ページのスクショ) -->
                </div>
        </div>
    </div>
</div>
