<div class="container">
    <div><h1>
    Tempus
    </h1></div>

    <div>
    <p>Tempusは次世代ラボのメンバーが学習時間を報告・管理するためのwebアプリです</p>
    </div>

    <% if current_user != nil %>
    <div><%= link_to current_user.email, user_path(current_user) %>はログイン中</div>
    <% end %>
    
    <div>
    <%= link_to "登録", new_user_path %>
    </div>

    <div>
    <%= link_to "ログイン", new_user_session_path   %>
    </div>
    
    <div>
    <%= link_to "投稿一覧", posts_path %>
    </div>
</div>
