<div class="container">
    <a calss="image"><%= image_tag "ship.jpg", class:"ship-image" %></a>

    <div class="start_container">

        <div class="use_container">
            <div class="use-info">
                <h2 class="introduction">Tempusは、次世代ラボのメンバーが学習時間を投稿し、互いのモチベーションを高め合うためのアプリです。</h2>
                <br>
                <h1>How to use</h1>
                    
                <div class="how-to-use">
                    <a class="intro-image timer-sample-image"><%= image_tag "timer_sample.png", class:"timer-sample" %></a>
                    <p>①　<strong>Start</strong>ボタンをクリックして<span class="color">勉強開始！</span></p>
                    <!-- 投稿ページのスクショ -->
                    <p>②　勉強が終わったら、言語やコメントを添えて投稿しよう！</p>
                    <p>例→言語:Rails 教材:チュートリアル コメント:バリデーションが難しかった。明日復習して完全に理解したい。</p>
                    <p>③　みんなで学習時間を共有して、お互いのモチベーションを高め合おう！</p>
                    <!-- (投稿一覧ページのスクショ) -->
                    <a class="image intro-image"><%= image_tag "sample.png", class:"sample-image" %></a>
                    <a class="image intro-image"><%= image_tag "posts_index_sample.png", class:"posts-index-sample-image" %></a>
                </div>
            </div>
        </div>
    </div>
</div>
