/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 
 header{
  position: fixed;
 }
 
 .header-right{
     float: right;
 }
 
 .button-link{
  color: #222222;
 }

 .container{
     margin-top: 100px;
 }

 #timer{
     font-size: 36px;
     margin: 20px;
 }

 .posts-index{
     margin: 20px;
 }

 .post-contents{
     margin: 20px;
 }

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #6c6b6b;
}
a {
text-decoration: none;
}

.clearfix::after {
content:"";
display:block;
clear:both;
}

.container{
    width: 100%;
}

.sign_up_box{
    width: 50%;
    height: 600px;
    background: linear-gradient(180deg, #FFF, rgb(64, 129, 226)); 
    margin: 50px auto;
    border-radius: 20px;

}


.edit_content_box{
    width: 200px;
    padding-top: 100px;
    margin: 0 auto;
    color: white;
    text-align: center;
}

.za{
    text-align: center;
    font-size: 30px;
    color: white;
}

.edit_right_box{
    width: 50%;
    float: left;
    text-align: center;
}

.edit_left_box{
    width: 50%;
    float: right;
    text-align: center;
}

.txt_col{
    color: #FFF;
}

.update_btn{
    margin-top: 20px;
}
