/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*/
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.wrapper{
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: white;
}

td{
    color: white;
}

label{
    color: rgb(253, 253, 253);
}

.clearfix::after {
    content:"";
    display:block;
    clear:both;
}

.button-link{
    color: #222222;
}

#timer{
    font-size: 26pt;
    margin: 10px;
    position: relative;
    right: 8%;
    color: rgb(253, 253, 253);
}

.icon-html-css::before{
   content: "\f13b";
   font-family: "Font Awesome 5 Free";
   font-weight: 400;
}

.start-container{
    width: 100%;
}

.container{
    width: 100%;
}

.post-contents{
    margin: 20px;
}

.index-container{
    width: 100%;
}

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after{
    content:"";
    display:block;
    clear: both;

}

header{
	width: 100%;
    height: 120px;
    margin: 0;
	padding: 15px;
	background: linear-gradient(to right,#EFFBF2,#0B610B);
}

.header-logo{
	float: left;
}

#header-logo{
	width: 200px;
	height: 70px;
	border-radius: 10%;
}

.header-item{
	color: white;
	padding-top: 30px;
    padding-right: 50px;
    cursor: pointer;
	float: right;
}

.header-logo h2{
	line-height: 120px;
}

.header-usericon{
	width:70px;
    height: 70px;
    background-color:#ffffff;
	border-radius: 50%;
	margin-right: 20px;
	margin-top: 10px;
	float:right;
}

.start_container{
    width: 100%;
}

.start_btn{
    width: 200px;
    height: 100px;
    background-color: rgba(245, 81, 81, 0.404);
    border-radius: 20px;
    margin: 0 auto;
}

.start_btn :hover{
    cursor: pointer;
}

.start_btn h1{
    padding: 25px;
    text-align: center;
}

.use-container{
    width: 100%;
}

.use-info{
    width: 100%;
    margin: 40px auto;
    border:solid 3px #000000;
    padding: 30px;
    border-radius: 20px;
}

.use-info h1{
    text-align: center;
}


.use-info p{
    font-size:20px;
    padding-top:15px;
}

.how-to-use{
    overflow: hidden;
}

footer{
    width: 100%;
	height: 60px;
    margin-top: auto;
    position: relative;
    bottom: 0;
	background: linear-gradient(to right,#EFFBF2,#0B610B); 
}

footer p{
    margin-top: 21px;
    text-align: center;
}

html{
	font-family: sans-serif;
}

.sign_up{
	width: 500px;
	margin: 0 auto;
	text-align: center;
	margin-top: 60px;
}

.header{
	background-color: #6495ed;
	height:60px;
	border-radius: 5px;
}

.body{
	height: 500px;
	background-image: linear-gradient(#f0f8ff, #1e90ff);
	border-radius: 5px;
	padding-top: 70px;
}

.form{
	padding-top: 120px;
	padding-bottom: 100px;
}

.text{
	width: 70%;
	padding: 15px;
	font-size: 20px;
	border-radius: 5px;
}

.signupbtn{
	margin:60px  auto;
	width:60%;
	font-size: 25px;
	border-radius: 5px;
	padding: 15px;
}

// nav

.header-list{
    list-style: none;
    position: relative;
    top: 0;
}

.header-list li{
    text-decoration: none;
    display: inline-block;
    margin-left: 30px;
    color: #ffffff;
    font-size: 30px;
}

// post周り

.post-contents{
    float: right;
    margin-left: 30px;
    margin-bottom: 30px;
    width: 84%;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    background-color: rgb(123, 228, 102);
}

// pagination
.pagination a{
    color: black;
    text-decoration: none;
}

.page a{
    color: black;
    text-decoration: none;
}

// icon

.icon-in-users-show{
    width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;
    top: 43px;
    background: white;
    border-radius: 100%;
    text-align: center;
}

i{
    position: relative;
    top: 8px;
}

.fa-html5{
    position: relative;
    top: 12px;
}

.fa-gem{
    position: relative;
    top: 13px;
}

.fa-vuejs{
    position: relative;
    top: 13px;
}

.fa-cuttlefish{
    position: relative;
    top: 11px;
    left: -1px;
}

.fa-python{
    position: relative;
    top: 11px;
}

.fa-php{
    position: relative;
    top: 11px;
}

.fa-mobile-alt{
    position: relative;
    top: 11px;
}

// image

.ship-image{
    width: 100%;
    top: 0;
    left: 0;
}

.timer-sample{
    width: 40%;
    position: relative;
    left: 20%;
}

.sample-image{
    width: 80%;
}

.posts-index-sample-image{
    width: 80%;
}

.image{
    display: block;
    text-align: center;
}

.timer-sample-image{
    display: inline-flex;
    float: right;
}

.introduction{
    font-size: 20pt;
}

.intro-image{
    margin-bottom: 40px;
}

// users.scss

li{
    list-style: none;
}

.users-index{
    width: 700px;
    margin-right: auto;
    margin-left : auto;
    margin-top: 20px;
    margin-bottom: 40px;
    background: -moz-linear-gradient(top, rgb(44, 100, 255), rgb(44, 100, 255), #FFF);
    background: -webkit-linear-gradient(top, rgb(44, 100, 255), rgb(44, 100, 255), #FFF);
    background: linear-gradient(to bottom, rgb(44, 100, 255), rgb(44, 100, 255), #FFF);
    border-radius: 50px;
    padding: 50px;

    td{
        color: white;
    }
}

// users#show

.users-information-container{
    width: 100%;
}

.user-information-table{
    margin: 20px;

    td{
        padding: 3px;
        color: white;
    }
}

.user-information{
    width: 30%;
    padding: 30px 40px;
    margin: 10px 40px 20px 40px;
    vertical-align: top;
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    background: -moz-linear-gradient(top,  #FFF, rgb(44, 100, 255), rgb(44, 100, 255));
    background: -webkit-linear-gradient(top, #FFF, rgb(44, 100, 255), rgb(44, 100, 255));
    background: linear-gradient(to bottom, #FFF, rgb(44, 100, 255), rgb(44, 100, 255));
    border-radius: 20px;
}

.attachment{
    margin: 15px;
}

.users-stats{
    vertical-align: top;
    display: inline-block;
    position: relative;
    top: 20px;
    padding: 0;
    margin-left: 4%;
}

.user-information-and-stats{
    display: inline-block;    
    width: 100%;
    margin: 30px 0;
}

.post-container-in-users-show{
    width: 100%;
    display: inline-block;
}

.post-form{
    display: inline-block;
    width: 15%;
    vertical-align: top;
    margin: 0px 20px 20px 40px;
    padding: 20px;
    background: -moz-linear-gradient(top, rgb(44, 100, 255), rgb(44, 100, 255), #FFF);
    background: -webkit-linear-gradient(top, rgb(44, 100, 255), rgb(44, 100, 255), #FFF);
    background: linear-gradient(to bottom, rgb(44, 100, 255), rgb(44, 100, 255), #FFF);
    border-radius: 20px;
}

.users-posts-container{
    display: inline-block;
    width: 80%;
}

.posts-index-in-users-show{
    float: right;
    width: 70%;
    height: 50%;
    margin-right: 100px;
    margin-bottom: 40px;
    background: -moz-linear-gradient(top, rgb(44, 100, 255), rgb(44, 100, 255), #FFF);
    background: -webkit-linear-gradient(top, rgb(44, 100, 255), rgb(44, 100, 255), #FFF);
    background: linear-gradient(to bottom, rgb(44, 100, 255), rgb(44, 100, 255), #FFF);
    border-radius: 50px;
    padding: 50px;
}

.post-contents-in-users-show{
    float: right;
    margin-left: 30px;
    margin-bottom: 30px;
    width: 80%;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    background-color: rgb(123, 228, 102);

    td{
        color: black;
    }
}

.post-and-form-container{
    width: 100%;
}

button[type="button"]:hover{
    text-decoration: none;
    color: #FFF;
}

input[type="button"]:hover{
    text-decoration: none;
    color: #FFF;
}

.start-button{
    margin-bottom: 15px;
    display: inline-block;
    font-weight: bold;
	text-decoration: none;
	color: #FFF;
	text-shadow: 0 0 5px rgba(255, 255, 255, 0.0);
	background: #1A237E;
	transition: .4s;
    border-radius: 4px;
}

.start-button:hover{
    text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
	transition: .4s;
}

.submit-button{
    margin-left: 59%;
    display: inline-block;
    font-weight: bold;
	text-decoration: none;
	color: #FFF;
	text-shadow: 0 0 5px rgba(255, 255, 255, 0.0);
	background: #1A237E;
	transition: .4s;
	border-radius: 4px;
}

.submit-button:hover{
    text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
	transition: .4s;
}

label{
    text-align: center;
}

.edit{
    font-weight: normal;
}

// posts.scss

.posts-index-title{
    margin-top: 2%;
    margin-left: 14%;
    margin-bottom: 2%;
}

.img-box{
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.posts-index{
    width: 80%;
    height: 50%;
    margin-left: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
    background: -moz-linear-gradient(top, rgb(44, 100, 255), rgb(44, 100, 255), #FFF);
    background: -webkit-linear-gradient(top, rgb(44, 100, 255), rgb(44, 100, 255), #FFF);
    background: linear-gradient(to bottom, rgb(44, 100, 255), rgb(44, 100, 255), #FFF);
    border-radius: 50px;
    padding: 50px;
}

.index-container{
    width: 100%;
}

.post-container{
    width: 100%;
    display: inline-block;

    td{
        color: black;
    }
}

.minutes{
    display: inline-table;
    position: relative;
    top: -4px;
    width: 70px;
    height: 70px;
    // padding: 10px;
    border-radius: 100%;
    box-shadow: 3px 2px 0px 3px #fff;
}

.post-table{
    display: inline-table;
    position: relative;
    top: -10px;
    left: 30px;
    width: 80%;
}

td{
    color: rgb(17, 17, 17);
}

.tr-comment{
    width: 100%;
}

.link{
    color: rgb(17, 17, 17);
}

a{
    text-decoration: none;
}

.post-studytime{
    position: relative;
    top: 8px;
    color: white;
    text-align: center;
    font-size: 11.5pt;
    margin-top: 3px;
}

.icon{
    width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;
    top: 55px;
    background: white;
    border-radius: 100%;
    text-align: center;
}

.balloon{
    position: relative;
    padding: 20px;
    height: 150px;
    text-align: center;
}

.balloon::before{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: -15px;
    top: 20px;
    border-right: 15px solid rgb(44, 100, 255);
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.sign-in-container{
    background: -moz-linear-gradient(top, rgb(44, 100, 255), rgb(44, 100, 255), #FFF);
    background: -webkit-linear-gradient(top, rgb(44, 100, 255), rgb(44, 100, 255), #FFF);
    background: linear-gradient(to bottom, rgb(44, 100, 255), rgb(44, 100, 255), #FFF);
    border-radius: 50px;
}