// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts-index{
    width: 100%;
    height: 50%;
    margin: 0 20px;
    background: -moz-linear-gradient(top, rgb(44, 100, 255), #FFF);
    background: -webkit-linear-gradient(top, rgb(44, 100, 255), #FFF);
    background: linear-gradient(to bottom, rgb(44, 100, 255), #FFF);
    border-radius: 50px;
    padding: 50px;
}

.img-box{
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.posts-index-d{
    width: 700px;
    margin: 20px 20px;
    background: -moz-linear-gradient(bottom, rgb(44, 100, 255), #FFF);
    background: -webkit-linear-gradient(bottom, rgb(44, 100, 255), #FFF);
    background: linear-gradient(to top, rgb(44, 100, 255), #FFF);
    border-radius: 50px;
    padding: 50px;
    background-color: rgb(44, 100, 255);
    border-radius: 10px;
}

.minutes{
    float: left;
    width: 18%;
    padding: 30px;
    margin-right: 20px;
    border-radius: 100%;
    box-shadow: 3px 2px 0px 3px #fff;
}

.post-table{
    margin: 10px;
    width: 40%;
}

td{
    color: rgb(17, 17, 17);
}

.link{
    color: rgb(17, 17, 17);
}

a{
    text-decoration: none;
}

.post-studytime{
    color: white;
    margin-top: 3px;
}

.balloon{
    position: relative;
    padding: 20px;
    height: 150px;
    text-align: center;
}

.balloon::before{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: -15px;
    top: 20px;
    border-right: 15px solid rgb(44, 100, 255);
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}