// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li{
    list-style: none;
}

.users-index{
    width: 700px;
    margin-right: auto;
    margin-left : auto;
    background: -moz-linear-gradient(top, rgb(44, 100, 255), #FFF);
    background: -webkit-linear-gradient(top, rgb(44, 100, 255), #FFF);
    background: linear-gradient(to bottom, rgb(44, 100, 255), #FFF);
    border-radius: 50px;
    padding: 50px;
}

// devise_view

.signup-content{
    width: 400px;
    margin: 0 auto;
    text-align: center;
    background: -moz-linear-gradient(top, rgb(44, 100, 255), rgb(44, 100, 255), #FFF);
    background: -webkit-linear-gradient(top, rgb(44, 100, 255), rgb(44, 100, 255), #FFF);
    background: linear-gradient(to bottom, rgb(44, 100, 255), rgb(44, 100, 255), #FFF);
    border-radius: 10px;
}

.signin-content{
    width: 400px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    background: -moz-linear-gradient(top, rgb(44, 100, 255), rgb(44, 100, 255), #FFF);
    background: -webkit-linear-gradient(top, rgb(44, 100, 255), rgb(44, 100, 255), #FFF);
    background: linear-gradient(to bottom, rgb(44, 100, 255), rgb(44, 100, 255), #FFF);
    border-radius: 10px;
}