<header>
    <div class="clearfix">
        <div class="header-logo">
            <a href="https://jisedailabo.asakatsu-pg.com/"><img src="tempus/Tempus/app/assets/images/logo.png" id="header-logo"></a>
        </div>
        <nav class="header-item">
        <% if user_signed_in?%>
            <ul class="header-list">
                <li><%= link_to "MyPage", user_path(current_user) %></li>
                <li><%= link_to "logout", destroy_user_session_path , method: :delete%></li>
            </ul>
        <%else%>
            <ul class="header-list">
                <li><%= link_to "sign_up", new_user_registration_path %></li>
                <li><%= link_to "login", new_user_session_path %></li>
            </ul>
        <%end%>
        </nav>
    </div>
</header>